@font-face {
  font-family: "Isonorm";
  src: url("../fonts/Isonorm_Regular.otf");
}

.carousel {
  background-color: #000;
  padding: 30px 0;
}

.carousel__inner {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  height: 440px;
}

.carousel .slick-prev,
.carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #000;
}

.carousel .slick-prev img,
.carousel .slick-next img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  left: auto;
  right: -66px;
}

.menu {
  background-color: #000;
}

.menu__logo {
  padding-top: 10px;
  width: 185px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.menu__logo a {
  position: relative;
  width: 185px;
  height: 55px;
  margin-right: -4px px;
  margin-top: -11px;
  background-image: url("https://www.cinemaxx.de/assets/css/images/logo-cinemaxx.svg");
}

.menu__logo a::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 25px;
  background: url("https://www.cinemaxx.de/assets/css/images/logo-header-vue.png") center center/cover no-repeat;
  left: 170px;
  top: 22px;
}

.menu__liste {
  margin: 0;
  padding: 11.2px 0 0;
}

.menu__liste #ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -55px;
}

.menu__liste .menu__item {
  padding: 13px 8px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu__liste .menu__item a {
  color: #ffffff;
  text-decoration: none;
}

.menu__liste .menu__item a:hover {
  color: #f7941e;
}

.menu__account {
  margin-top: 27px;
}

.menu__account span {
  position: relative;
  color: #ffffff;
  border: #f7941e 3px solid;
  text-transform: uppercase;
  padding: 4px 8px 4px;
}

.menu__account span::before {
  content: "";
  position: absolute;
}

#corona-regeln {
  font-family: "Isonorm";
  margin-top: 20px;
  border: #f7941e 3px solid;
  color: #777;
  text-align: left;
  padding: 24px 32px 0px 80px;
}

#corona-regeln a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

#corona-regeln a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  display: block;
  width: 1600px;
  margin: 0 auto;
}

.footer .footer__map {
  position: relative;
}

.footer .footer__info {
  padding: 50px 68px 60px 68px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  height: 170px;
  width: 460px;
  background: rgba(74, 74, 74, 0.8);
  color: #f7941e;
  text-align: center;
}

.footer .footer__info a {
  color: #f7941e;
  text-decoration: none;
}

.footer .footer__info a:hover {
  text-decoration: underline;
}

.info {
  display: block;
  max-width: 1100px;
  font-family: "Isonorm";
  margin: 30px auto;
  border: #f7941e 3px solid;
  color: #777;
  text-align: left;
  font-size: 21px;
  padding: 24px 32px 0px 80px;
}

body {
  background: #000;
}

html {
  background-color: #000;
  font-family: "Outfit", sans-serif;
}

html li {
  list-style: none;
}

header {
  background-color: #000;
  font-family: "Isonorm";
  font-size: 21px;
}

.container {
  background-color: #000;
  max-width: 1100px;
  margin: 0 auto;
}

.container.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 90px;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */