@font-face {
   font-family: "Isonorm";
   src: url("../fonts/Isonorm_Regular.otf");
}
@import "_carousel";
@import "_menu";
@import "_corona";
@import "_footer";
@import "_info";
body {
   background: #000;
}
html {
   background-color: #000;
   font-family: "Outfit", sans-serif;

   li {
      list-style: none;
   }
}
header {
   background-color: #000;
   font-family: "Isonorm";
   font-size: 21px;
}
.container {
   background-color: #000;
   max-width: 1100px;
   margin: 0 auto;
   &.menu-container {
      display: flex;
      justify-content: space-around;
      max-height: 90px;
      margin-top: 30px;
   }
}
